{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
   {% block content %}

 <!-- Products -->
 <div class="container-fluid products-2">
   <div class="row justify-content-md-center ">
      <div class="col-md-10 col-sm-12">
         <div class="row">
            <div class="col-xl-8 col-md-10 col-sm-12">
               <p>As the trend for fashion is growing, Outfit Archives tries to bring something new onto the table for the people that involves various design pattern clothing items, variety of design to choose from.
                  <br><br>
                  We have partnered with various global brands such as Zara, H.M, Urban Outfitters, Uniqlo and many more to bring the designer cloths just for you. We tried to provide various brand clothing items at an affordable range to everyone.
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End Products -->
<!-- Additional -->
<div class="container additional">
   <div class="row">
      <div class="col-xl-4">
         <img src="{% static 'img/photo-12.jpg' %}" class="img-fluid" alt="Image">
      </div>
      <div class="col-xl-4">
         <img src="{% static 'img/photo-13.jpg' %}" class="img-fluid" alt="Image">
      </div>
      <div class="col-xl-4">
         <img src="{% static 'img/photo-14.jpg' %}" class="img-fluid" alt="Image">
      </div>
   </div>
</div>
<!-- End Additional -->

   {% endblock content%}
     
